<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="stylesheet" href="{% static 'index.css' %}">
    <title>Add Subscription</title>
</head>

<body>



    <form action="/process_add_subscription" method="POST">
        {% csrf_token %}
        <p>Company: <input type="text" name="company"></p>
        <p>Level: <input type="text" name="level"></p>
        <p>Monthly Rate: <input type="text" name="monthly_rate"></p>
        <p>Start Date: <input type="date" name="start_date"></p>
        <p>Duration:
            <select name="duration">
                <option value="bi-annually">Bi-annually</option>
                <option value="yearly">Yearly</option>
                <option value="monthly">Monthly</option>
                <!-- <option value="bi-annually">Bi-annually</option> -->
                <!-- <option value="yearly">Yearly</option> -->
                <!-- <option value="monthly">Monthly</option> -->
            </select>
        </p>
        <button type="submit">Add New Subscription</button>
    </form>



</body>

</html>