<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="stylesheet" href="{% static '' %}">   
    <title>Success</title>
</head>
<body>
<header id="add-header">
    <h1 id="welcome-add">Welcome, {{ current_user.first_name }}</h1>
    <a id = "logout-add" href="/logout">Logout</a>
</header>
<h1>Success</h1>
</body>
</html> 